body {
    background-image: url("../images/homepage.png");
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

.wrap {
    padding-top: 5%;
    padding-right: 20px;;
    text-align: right;
}