@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
h1 {
    margin-left: 5%;
    font-size: 700%;
    text-align: center;
}
h4 {
    margin-left: 5%;
}
.header {
    /* font-family: 'Handlee', cursive; */
    /* font-family: 'Nanum Pen Script', cursive; */
    font-family: 'Bubblegum Sans', cursive;
   margin-bottom: 10%;
}
.homepage {
    float: right;
    position: relative;
}
#search {
    margin: 10px 10% 10px 10%;
    width: 80%;
}
.button {
    margin-top: 10%;
    margin-left: 25%;
}
.buttons-view{
    position: center;
    left: 20px;
    top: 140px;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: #f7ae55;
  }
  .btn {
      margin: 10px 0 0 0;
  }
  .movie {
      border: 3px solid rgb(138, 250, 229);
        margin: 10px;
  }
  .container-movie {
    margin: 0 10% 0 10%;
  }
  .display-8 {
    font-family: 'Bubblegum Sans', cursive;
  }
  .poster {
      width: 25%;
      height: 50%;
      float: right;
      position: relative;
  }
  h4 {
      margin-left: 25%;
      font-family: 'Bubblegum Sans', cursive;
  }
@media only screen and (max-width: 480px) {
    .container {
        margin-left: 0;
    }
    h1 {
        font-size: 200%;
    }
    h4 {
        font-size: 100%;   
    }
}
@media screen and (max-width: 768px) {
.homepage {
    float: right;
    position: relative;
    width: 50%;
    height: 50%;
}
h1 {
    font-size: 400%;
}
h4 {
    font-size: 100%;   
}
.container {
    margin-left: 12%;
}
}
@media screen and (max-width: 1080px) {
}