@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.collapse {
  margin-left: 40%;
}

#home {
  border: 2px dotted #00A9DE; 
  border-radius: 5px;
  width: 150%;
}

#home:hover {
  border: 3px solid #FFAD48; 
  border-radius: 5px;
  width: 150%;
}

#review-nav {
  border: 2px dotted #82C295;
  border-radius: 5px;
  width: 150%;
}

#review-nav:hover {
  border: 3px solid #CF7046;
  border-radius: 5px;
  width: 150%;
}

#about {
  border: 2px dotted orange;
  border-radius: 5px;
  width: 150%;
}

#about:hover {
  border: 3px solid #655B58 ;
  border-radius: 5px;
  width: 150%;
}

img {
  float: right;
  position: relative;
}

.header {
  background-color: white;
  background-repeat: no-repeat;
  margin: 5% 0 5% 25%;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

/* BODY */

#addreview {
  width: 80%;
  margin-left: 10%;
}

.btn {
  margin: 10px; 
  width: 45%;
}

.image-txt-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5%;
}

@media only screen and (max-width: 480px) {
  .form-group {
    width: 100%;
  }

  .collapse {
    margin-right: 30%;
  }

  img {
    /* float: center;
    position: relative; */
    margin: 0 10% 10px 10%;
  }

  .header {
    background-color: white;
    margin: 8% 10px 5% 10px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
  }

  #addreview {
    width: 80%;
  }

  .btn {
    margin: 10px; 
    padding-left: 10%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .form-group {
    width: 100%;
  }

  .collapse {
    margin-right: 10px;
  }

  img {
    float: center;
    position: relative;
    margin: 0 10% 20px 20%;
    padding: 0 10% 0 10%;
  }

  .header {
    background-color: white;
    margin: 8% 10px 5% 10px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
  }

  #addreview {
    width: 80%;
  }

  .btn {
    /* padding-left: 10%; */
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
    img {
        float: right;
        position: relative;
      }
      
      .header {
        background-color: white;
        background-repeat: no-repeat;
        margin: 5% 0 5% 5%;
        text-align: center;
        font-family: 'Rock Salt', cursive;
      }
}@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.collapse {
  margin-left: 40%;
}

#home {
  border: 2px dotted #00A9DE; 
  border-radius: 5px;
  width: 150%;
}

#home:hover {
  border: 3px solid #FFAD48; 
  border-radius: 5px;
  width: 150%;
}

#review-nav {
  border: 2px dotted #82C295;
  border-radius: 5px;
  width: 150%;
}

#review-nav:hover {
  border: 3px solid #CF7046;
  border-radius: 5px;
  width: 150%;
}

#about {
  border: 2px dotted orange;
  border-radius: 5px;
  width: 150%;
}

#about:hover {
  border: 3px solid #655B58 ;
  border-radius: 5px;
  width: 150%;
}

img {
  float: right;
  position: relative;
}

.header {
  background-color: white;
  background-repeat: no-repeat;
  margin: 5% 0 5% 25%;
  text-align: center;
  font-family: 'Rock Salt', cursive;
}

/* BODY */

.buttons-view{
  position: center;
  left: 20px;
  top: 140px;
  width: 100%;
  height: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #f7ae55;
}

.movie-btn{
  width: auto;
}

#cms {
  width: 80%;
  margin-left: 10%;
}

/* .btn {
  margin: 10px; 
  width: 45%;
} */

.btn {
  margin: 10px 0 10px 5px;
}

.image-txt-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5%;
}

@media only screen and (max-width: 480px) {
  .form-group {
    width: 100%;
  }

  .collapse {
    margin-right: 30%;
  }

  img {
    /* float: center;
    position: relative; */
    margin: 0 10% 10px 10%;
  }

  .header {
    background-color: white;
    margin: 8% 10px 5% 10px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
  }

  #cms {
    width: 80%;
  }

  .btn {
    margin: 10px; 
    padding-left: 10%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .form-group {
    width: 100%;
  }

  .collapse {
    margin-right: 10px;
  }

  img {
    float: center;
    position: relative;
    margin: 0 10% 20px 20%;
    padding: 0 10% 0 10%;
  }

  .header {
    background-color: white;
    margin: 8% 10px 5% 10px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
  }

  #cms {
    width: 80%;
  }

  .btn {
    /* padding-left: 10%; */
    width: 100%;
  }
}

@media screen and (max-width: 1080px) {
    img {
        float: right;
        position: relative;
      }
      
      .header {
        background-color: white;
        background-repeat: no-repeat;
        margin: 5% 0 5% 5%;
        text-align: center;
        font-family: 'Rock Salt', cursive;
      }
}