@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
 
h2 {
    font-family: 'Bubblegum Sans', cursive;
    padding-top: 10px;
}
/* button {
    float: right;
    position: relative;
    margin-left: 10px;
    height: 30px;
} */

.fa-edit {
    border: 2px solid  rgb(30, 243, 30);
    padding: 5px;
    border-radius: 5px;
    background-color:  rgb(30, 243, 30);
    float: right;
}

.fa-trash {
    border: 2px solid  rgb(249, 36, 36);
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(249, 36, 36);
    float: right;
    margin-left: 10px;
}

.card {
    margin-top: 5%;
}