form.signup,
form.login {
  margin-top: 50px;
}

.jumbotron {
  background-color: white;
  background-image: url("https://images.squarespace-cdn.com/content/v1/57d2dbc944024362fbb5d772/1493398261355-A4ETKRBTBGJW1DLIF4JH/ke17ZwdGBToddI8pDm48kE3MUHZ9vSBnmdfJVjOam8NZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVHn-b2jS82togAvT3SMGPjv4M_bMe06SUd9e8Y6HyyjyJMLq3B1ybsXSjkTL0-UNSo/film");
  background-repeat: no-repeat;
  padding-left: 50%;
}

.btn {
  margin: 5%; 
}

.image-txt-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 5%;
}